<header>
  <h1><a href="/" class="logo-text">Members Only</a></h1>
  <nav>
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
