<main>
  <h2><%= title %></h2>
  <p>
    Members Only is a space where everyone can read posts, but access to details
    depends on your role:
  </p>
  <ul>
    <li>
      <strong>Visitors</strong> can see all posts, but author names and post
      dates are hidden.
    </li>
    <li>
      <strong>Signed-up users</strong> can create posts, but still don't see
      author names or dates.
    </li>
    <li>
      <strong>Members</strong> can see who wrote each post and when it was
      published.
    </li>
    <li>
      <strong>Admins</strong> can see author names or dates, and also have the
      ability to delete posts.
    </li>
  </ul>
  <p>
    Want full access? Sign up, log in, and enter the passcode to unlock it. The
    member passcode can be found in
    <a
      href="https://github.com/gofhilman/members-only"
      target="_blank"
      rel="noopener noreferrer"
      >the source code documentation</a
    >.
  </p>
</main>
