<main>
  <form action="/join" method="post">
    <h2><%= title %></h2>
    <%- include("partials/errors.ejs") %>
    <div>
      <label for="passcode">Enter the member passcode to become a member:</label>
      <input type="text" name="passcode" id="passcode" required />
    </div>
    <button>Submit</button>
  </form>
</main>
