<main>
  <form action="/signup" method="post">
    <h2><%= title %></h2>
    <%- include("partials/errors.ejs") %>
    <div>
      <label for="fullname">Full name</label>
      <input type="text" name="fullname" id="fullname" required />
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
    </div>
    <button>Sign up</button>
  </form>
</main>
